examples/member-registration-workflow.json
{
  "name": "SocialHub Member Registration",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "member",
        "operation": "getLoyaltyPrograms"
      },
      "id": "get-loyalty-programs",
      "name": "Get Loyalty Programs",
      "type": "n8n-nodes-socialhub.socialHub",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "socialHubApi": {
          "id": "your-credential-id",
          "name": "SocialHub API"
        }
      }
    },
    {
      "parameters": {
        "resource": "consumer",
        "operation": "createConsumer",
        "name": "{{ $json.customerName }}",
        "gender": "{{ $json.gender }}",
        "mobilePhone": "{{ $json.phone }}",
        "phonePrefCode": "+86",
        "email": "{{ $json.email }}",
        "sourceCode": "ONLINE",
        "organizationCode": "MAIN_STORE"
      },
      "id": "create-customer",
      "name": "Create Customer",
      "type": "n8n-nodes-socialhub.socialHub",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "socialHubApi": {
          "id": "your-credential-id",
          "name": "SocialHub API"
        }
      }
    },
    {
      "parameters": {
        "resource": "member",
        "operation": "memberAdmission",
        "loyaltyCode": "{{ $('Get Loyalty Programs').item.json.data[0].code }}",
        "phonePrefCode": "+86",
        "mobilePhone": "{{ $json.phone }}",
        "memberName": "{{ $json.customerName }}",
        "storeCode": "MAIN_STORE",
        "sourceCode": "ONLINE",
        "email": "{{ $json.email }}"
      },
      "id": "member-enrollment",
      "name": "Member Enrollment",
      "type": "n8n-nodes-socialhub.socialHub",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "socialHubApi": {
          "id": "your-credential-id",
          "name": "SocialHub API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "{{ $json.code }}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-enrollment-success",
      "name": "Check Enrollment Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "subject": "Welcome to Our Loyalty Program!",
        "emailType": "text",
        "message": "Dear {{ $('Member Enrollment').item.json.data.memberName }},\n\nWelcome to our loyalty program! Your member card number is: {{ $('Member Enrollment').item.json.data.cardNo }}\n\nThank you for joining us!\n\nBest regards,\nYour Loyalty Team"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 200],
      "credentials": {
        "smtp": {
          "id": "your-smtp-credential-id",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "message": "Member enrollment failed: {{ $json.resultMessage || 'Unknown error' }}"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get Loyalty Programs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Loyalty Programs": {
      "main": [
        [
          {
            "node": "Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer": {
      "main": [
        [
          {
            "node": "Member Enrollment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Member Enrollment": {
      "main": [
        [
          {
            "node": "Check Enrollment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Enrollment Success": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Start": [
      {
        "json": {
          "customerName": "John Doe",
          "gender": 1,
          "phone": "13800138000",
          "email": "john.doe@example.com"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "socialhub",
      "name": "SocialHub"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "member-management",
      "name": "Member Management"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}